<div>
	<nav class="navbar navbar-default">
		<div class="container-fluid pl50 pr50">
		  <!-- Brand and toggle get grouped for better mobile display -->
		  <div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			  <span class="sr-only">Toggle navigation</span>
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>
			</button>
			<a routerLink="/">
				<img class="logo logo-light ml" alt="My Prihatin" src="assets/images/logo-light.png">
			</a>
		  </div>
			<ul class="nav navbar-nav navbar-right">
				<li><a routerLink="/about" style='color:white; font-family:"Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 11px'>MAKLUMAT</a></li>
			  <li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style='color:white; font-family:"Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 11px'>PROGRAM <span class="caret"></span></a>
				<ul class="dropdown-menu" style="background: #292929;">
				  <li><a href="#" class="dpd">PRIHATIN KESIHATAN</a></li>
				  <li><a href="#" class="dpd">PRIHATIN KASIH</a></li>
				  <li><a href="#" class="dpd">PRIHATIN AMAL</a></li>
					<li><a href="#" class="dpd">PRIHATIN KOMUNITI</a></li>
					<li><a href="#" class="dpd">PRIHATIN ILMU</a></li>
				</ul>
				</li>
				<li><a routerLink="/register" class="fc">DAFTAR</a></li>
			</ul>
		</div><!-- /.container-fluid -->
	</nav>
	
	<!--Top navbar-->


			<section class="pb125">
				<div class="container">
					<div class="row text-center">
						<div class="row tac">
							<p class="fs200">Log Masuk</p>
						</div>
						<div class="row tac">
							<button class="btn btn-secondary w25" (click)="getFBLogged()">Log Masuk dengan Facebook</button>
						</div>
						<div class="row tac">
							<p class="fs200">Atau</p>
						</div>
						<div class="field ml375 w25">
							<input placeholder="Email" type="email" class="form-control" id="name" required [(ngModel)]="model.name" name="name" #name="ngModel">
						</div>
						<div class="field ml375 w25">
							<input placeholder="Password" type="password" class="form-control" id="password" required [(ngModel)]="model.password" name="password" #password="ngModel">
						</div>
						<div class="row tac">
							<button class="btn btn-secondary w25" (click)="getLogged()">Log Masuk</button>
						</div>
					</div>
				</div>
			</section>
			<br/>

		<footer id="footer" class="bg-primary pt96 pb96">
			<div class="container">
				<div class="row mb-64">
					<div class="col-md-5 text-right text-left-xs wow fadeInUp" data-wow-delay=".1s">
						<h2 class="uppercase bold italic">
							BERSAMA MEMBANTU MEREKA YANG MEMERLUKAN
						</h2>
					</div>
					<div class="col-md-2 hidden-sm hidden-xs text-center pt48 wow fadeInUp" data-wow-delay=".1s">
						<i class="icon display-block fa fa-heartbeat icon-lg">
							
						</i>
					</div>
					<div class="col-md-5 col-sm-6 wow fadeInUp" data-wow-delay=".1s">
						<p class="lead">Sebarang pertanyaan boleh dikemukakan kepada Sekretariat kami melalui saluran dibawah:
							<br>
						</p>
						<h4 class="mb8">
							tel: 03 2858 7637
							<br>
						</h4>
						<h4 class="mb8">
							email: admin@myprihatin.org.my
							<br>
						</h4>
						<h4 class="mb0">
							<a href="http://fb.com/yayasanmyprihatin">
								<i class="fa fa-facebook-official">
								</i>
								YayasanMyPrihatin
							</a>
						</h4>
						<h4 class="mb0">
							<a href="http://instagram.com/yayasanmyprihatin">
								<i class="fa fa-instagram">
								</i>
								@yayasanmyprihatin
							</a>
						</h4>
					</div>
				</div>
			</div>
		</footer><!-- site-footer -->
</div>