<div cz-shortcut-listen="true">
	<div id="wrapper">				
		<nav class="navbar navbar-default" >
				<div class="container-fluid pl50 pr50">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a routerLink="/">
						<img class="logo logo-light ml" alt="My Prihatin" src="assets/images/logo-light.png">
					</a>
					</div>
					<ul class="nav navbar-nav navbar-right">
						<li><a routerLink="/about" style='color:white; font-family:"Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 11px'>MAKLUMAT</a></li>
						<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style='color:white; font-family:"Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 11px'>PROGRAM <span class="caret"></span></a>
						<ul class="dropdown-menu" style="background: #292929;">
							<li><a href="#" class="dpd">PRIHATIN KESIHATAN</a></li>
							<li><a href="#" class="dpd">PRIHATIN KASIH</a></li>
							<li><a href="#" class="dpd">PRIHATIN AMAL</a></li>
							<li><a href="#" class="dpd">PRIHATIN KOMUNITI</a></li>
							<li><a href="#" class="dpd">PRIHATIN ILMU</a></li>
						</ul>
						</li>
					</ul>
					</div><!-- /.navbar-collapse -->
					
			</nav>
		</div><!-- /.container-fluid -->

		<main id="main" class="site-signup">
			<div class="container box-login pb80">
				<div class="box-signup">
					<div class="row" style="text-align:center; margin-bottom:36px">
						<p class="fs200" routerLink="/register">Daftar Masuk</p>
					</div>
					<div class="row">
						<div class="col-md-5">
							<button class="btn btn-secondary" style="width:100%; margin-bottom:2%">Continue with Facebook</button>
							<button class="btn btn-secondary" style="width:100%">Continue with Google +</button>
						</div>
						<div class="col-md-2 taj10">
							<h4>Atau</h4>
						</div>
						<div class="col-md-5">
							<div class="field">
								<input name="email" placeholder="Email" type="email">
							</div>
							<div class="field" style="margin-top:10px; margin-bottom:10px;">
								<input name="password" placeholder="Password" type="text">
							</div>
							<button class="btn btn-secondary" style="width:100%">Login</button>
						</div>
					</div>
					<div class="row" style="text-align:center; margin-bottom:50px; margin-top:50px">
						<p class="fs200">Akaun Baru</p>
					</div>
					<div class="row">
						<div class="col-md-5">
							<button class="btn btn-secondary" style="width:100%; margin-bottom:2%">Continue with Facebook</button>
							<button class="btn btn-secondary" style="width:100%">Continue with Google +</button>
							<p class="tam10">By clicking Register me, you indicate you have read and understand our Privacy Policy and Terms of Use and represent
								that you are at least 13 years of age</p>
						</div>
						<div class="col-md-2 taj10">
							<h4>Atau</h4>
						</div>
						<div class="col-md-5">
							<div class="field">
								<input type="text" placeholder="First Name" class="form-control" id="first_name" required [(ngModel)]="reg.first_name" name="first_name" #first_name="ngModel">
							</div>
							<div class="field" style="margin-top:10px; margin-bottom:10px;">
								<input type="text" placeholder="Last Name" class="form-control" id="lname" required [(ngModel)]="reg.last_name" name="last_name" #last_name="ngModel">
							</div>
							<div class="field" style="margin-top:10px; margin-bottom:10px;">
								<input type="text" placeholder="Name" class="form-control" id="name" required [(ngModel)]="reg.name" name="name" #name="ngModel">
							</div>
							<div class="field" style="margin-top:10px; margin-bottom:10px;">
								<input type="email" placeholder="Email" class="form-control" id="email" required [(ngModel)]="reg.email" name="email" #email="ngModel">
							</div>
							<div class="field" style="margin-top:10px; margin-bottom:10px;">
								<input type="password" placeholder="Password" class="form-control" id="password" required [(ngModel)]="reg.password" name="password" #password="ngModel">
							</div>
							<button class="btn btn-secondary" style="width:100%" (click)="getRegister()">Register</button>
							<p class="tam10">By clicking Register me, you indicate you have read and understand our Privacy Policy and Terms of Use and represent
								that you are at least 13 years of age</p>
						</div>
					</div>
				</div>
			</div>
		</main>
		<!-- .site-main -->
		<footer id="footer" class="bg-primary pt96 pb96">
				<div class="container">
					<div class="row mb-64">
						<div class="col-md-5 text-right text-left-xs wow fadeInUp" data-wow-delay=".1s">
							<h2 class="uppercase bold italic">
								BERSAMA MEMBANTU MEREKA YANG MEMERLUKAN
							</h2>
						</div>
						<div class="col-md-2 hidden-sm hidden-xs text-center pt48 wow fadeInUp" data-wow-delay=".1s">
							<i class="icon display-block fa fa-heartbeat icon-lg">
								
							</i>
						</div>
						<div class="col-md-5 col-sm-6 wow fadeInUp" data-wow-delay=".1s">
							<p class="lead">Sebarang pertanyaan boleh dikemukakan kepada Sekretariat kami melalui saluran dibawah:
								<br>
							</p>
							<h4 class="mb8">
								tel: 03 2858 7637
								<br>
							</h4>
							<h4 class="mb8">
								email: admin@myprihatin.org.my
								<br>
							</h4>
							<h4 class="mb0">
								<a href="http://fb.com/yayasanmyprihatin">
									<i class="fa fa-facebook-official">
									</i>
									YayasanMyPrihatin
								</a>
							</h4>
							<h4 class="mb0">
								<a href="http://instagram.com/yayasanmyprihatin">
									<i class="fa fa-instagram">
									</i>
									@yayasanmyprihatin
								</a>
							</h4>
						</div>
					</div>
				</div>
			</footer><!-- site-footer -->

	</div><!-- #wrapper -->