<div>
	<nav class="navbar navbar-default" style="background: black !important;">
		<div class="container-fluid pl50 pr50">
		  <!-- Brand and toggle get grouped for better mobile display -->
		  <div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			  <span class="sr-only">Toggle navigation</span>
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>
			</button>
			<a routerLink="/payment">
				<img class="logo logo-light ml" alt="My Prihatin" src="assets/images/logo-light.png">
			</a>
		  </div>
			<ul class="nav navbar-nav navbar-right">
				<li><a routerLink="/about" style='color:white; font-family:"Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 11px'>MAKLUMAT</a></li>
			  <li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style='color:white; font-family:"Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 11px'>PROGRAM <span class="caret"></span></a>
				<ul class="dropdown-menu" style="background: #292929;">
				  <li><a href="#" class="dpd">PRIHATIN KESIHATAN</a></li>
				  <li><a href="#" class="dpd">PRIHATIN KASIH</a></li>
				  <li><a href="#" class="dpd">PRIHATIN AMAL</a></li>
					<li><a href="#" class="dpd">PRIHATIN KOMUNITI</a></li>
					<li><a href="#" class="dpd">PRIHATIN ILMU</a></li>
				</ul>
			  </li>
			</ul>
		</div><!-- /.container-fluid -->
	</nav>
	<!--Top navbar-->


	<section>
		<div class="container pb70">
			<div class="row">
				<div class="col-md-5">
					<div class="row">
						<h1 class="donateheader">Ahli MyPrihatin?</h1>
						<br>
					</div>
					<div class="row taj">
						<h3>Dengan menjadi ahli berdaftar MyPrihatin, anda akan dapat melihat dan memuat turun transaksi anda untuk tujuan cukai
							dan sepertinya.
						</h3>
					</div>
					<div class="row">
						<div class="col-md-1" style="padding-left:0;">
							<i class="fa fa-user-circle-o fa-3x" aria-hidden="true"></i>
						</div>
						<div class="col-md-11" style="margin-top:10px;">
							<h3>
								<a routerLink="/login">Daftar Masuk</a>
							</h3>
						</div>
					</div>
				</div>
				<div class="col-md-1"></div>
				<div class="col-md-5 mg15" >
					<div class="row">
						<h1 class="donateheader">Derma</h1>
						<br>
					</div>
					<div class="row taj">
						<h1>Kempen MyHeart IJN</h1>
						<br>
					</div>
					<div class="row taj">
						<h3>By clicking register me, you indicate that you have read and understand
							our Privacy Policy and Terms of Use and represent that you are at least 13 years of age.
						</h3>
					</div>
					<div class="row taj">
						<div class="col-md-6" style="padding-left:0;">
							<h4 style="font-weight: 600">Tetapkan nilai</h4>
						</div>
						<div class="col-md-6" style="text-align:right; padding-right:0;">
							<p style="font-size:30px;">$98.92</p>
						</div>
					</div>
					<div class="row taj">
						<div id="slidecontainer">
							<input type="range" min="1" max="5000" value="50" class="slider" id="myRange">
						</div>
					</div>
					<div class="row">
						<button class="btn btn-secondary" routerLink="/payment">Donate</button>
					</div>
					</div>
				</div>
			</div>
	</section>
	<br/>

		<footer id="footer" class="bg-primary pt96 pb96">
			<div class="container">
				<div class="row mb-64">
					<div class="col-md-5 text-right text-left-xs wow fadeInUp" data-wow-delay=".1s">
						<h2 class="uppercase bold italic">
							BERSAMA MEMBANTU MEREKA YANG MEMERLUKAN
						</h2>
					</div>
					<div class="col-md-2 hidden-sm hidden-xs text-center pt48 wow fadeInUp" data-wow-delay=".1s">
						<i class="icon display-block fa fa-heartbeat icon-lg">
							
						</i>
					</div>
					<div class="col-md-5 col-sm-6 wow fadeInUp" data-wow-delay=".1s">
						<p class="lead">Sebarang pertanyaan boleh dikemukakan kepada Sekretariat kami melalui saluran dibawah:
							<br>
						</p>
						<h4 class="mb8">
							tel: 03 2858 7637
							<br>
						</h4>
						<h4 class="mb8">
							email: admin@myprihatin.org.my
							<br>
						</h4>
						<h4 class="mb0">
							<a href="http://fb.com/yayasanmyprihatin">
								<i class="fa fa-facebook-official">
								</i>
								YayasanMyPrihatin
							</a>
						</h4>
						<h4 class="mb0">
							<a href="http://instagram.com/yayasanmyprihatin">
								<i class="fa fa-instagram">
								</i>
								@yayasanmyprihatin
							</a>
						</h4>
					</div>
				</div>
			</div>
		</footer><!-- site-footer -->
	</div>